
:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: 'text-font', var(--system-ui);
  }

*, ::before, ::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "viking-font";
    src: url("images/Roboto_Condensed/Norse-Bold.otf") format('opentype');
}

@font-face {
    font-family: "text-font";
    src: url("images/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
}
/* Credit the creator of the background image! */
/* Begin all over again! */

body {
    display: flex;
    justify-content: center;
    background-color: #0E0E0E;
}

.wrapper {
    width: 75%;
    height: 100vh;
    display: flex;
}

.bigger-font {
    font-size: 1.2rem;
}

/* left side with images */

.logo-section {
    width: 40%;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-enhancer {
    display: flex;
    background-color: rgba(14, 14, 14, .5);
    justify-content: center;
    margin-top: 9rem;
}

.odin-name {
    color: #ffffff;
    font-size: 4rem;
    align-self: center;
    font-family: "viking-font", "text-font", var(--system-ui);
}

.img-container img {
    width: auto;
    height: 7rem;
}

/* Right side -> form and text */

.form-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F6F7F8;
}

.text {
    padding-left: 2rem;
    margin-top: 8rem;
    margin-bottom: 2.5rem;
}

.text p {
    margin: 0;
    padding: 0;
    width: 40ch;
}


.text h2 {
    margin-bottom: 1rem;
}

.button-container {
    padding-left: 2rem;
}

/* button */

.button-container button {
    background-color: #596D48;
    font-family: "text-font", var(--system-ui);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
}

.button-container p span {
    color: #596D48;
}

.bold {
    font-weight: bold;
}

/* Form */

.registration-form {
    background-color: #ffffff;
    
    
    box-shadow: 0px 4px 4px -2px #D6D9DC;
    border-radius: 3px;
    margin: 0;
}

input {
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    display: block;
    box-shadow: none;
    font-family: inherit;
    font-size: 100%;
    padding: 5px;
}

label {
    font: inherit;
    font-weight: 900;
    font-size: 65%;
    letter-spacing: 0.1rem; 
    color: rgba(14, 14, 14, 0.600);;
}

.form-p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
}

.input-block {
    display: flex;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 200px;
}


